.banner {
  background-image: url("cinema-red-background.jpg");
  background-size: cover;
  background-position: center;
  height: 70%;
}

.container {
  margin: auto;
}

.h1 {
  padding-left: 200px;
}
